.mbsn--nav {
    position: fixed;
    top: 16px;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    text-align: -webkit-center;
    justify-content: center;
    height: 64px;
    padding-left: 32px;
    padding-right: 32px;
    z-index: 10;
}

.mbsn--nav-container {
    max-width: 1122px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    color: rgba(137, 137, 137, 0.15);
    background-color: var(--color-bg);
}

.mbsn--nav-wrap {
    max-width: 1122px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mbsn--logo-nav {
    height: 36px;
    margin-left: 20px;
}

.nav-names {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.nav-link {
    font-family: Teko, sans-serif;
    font-size: 16px;
    line-height: 1em;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--color-text);
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 20px;
    padding-left: 20px;
}

.nav-list-large {
    align-self: center;
}

.nav-list-small {
    display: none;
}

.nav-names-small {
    display: none;
}

@media screen and (max-width: 767px){
    .nav-list-large {
        display: none;
    }

    .nav-list-small {
        display: block;
    }
}

@media screen and (min-width: 769px){
    .nav-list-small {
        display: none;
    }
}