@import url('https://fonts.googleapis.com/css?family=Teko');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

:root {
    --font-family: 'Teko', sans-serif;
    --font-family-n: 'Open+Sans', sans-serif;
    --font-family-small: 'Inconsolata', sans-serif;

    --color-bg: #faf8f5;
    --color-text: #2a2a38;
    --color-text-alt: #68ebb8;
    
}

a:-webkit-any-link {
    text-decoration:none;
}